*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{
    min-height: 100vh;
    
}
html{
    scroll-behavior: smooth;
}
.header{
position: fixed;
top: 0px;
left: 0px;
width: 100%;
padding: 1.3rem 10%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.header::before{
    top: 0;
    left: 0;
 content: '';
 position:absolute;
 width: 100%;
 height: 100%;
 backdrop-filter: blur(10px);
box-shadow: 0 2px 4px #1f2833;
z-index: -1;
}
.header::after{
top: 0; 
left: 0;
 content: '';
 position:absolute;
 width: 100%;
 height: 100%;
 background: linear-gradient(90deg,transparent,rgba(82, 82, 82, 0.644),transparent);
 transition: .5s;
}
.header:hover:after{
    left: 100%;
  
}
.logo{  
    font-size: 1.3rem;
    color:#49c5b6;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 1rem;
    color: #49c5b6;
    text-decoration: none;
    font-weight: 600%;
    margin-left: 1rem;
    font-family: sans-serif;
}
#check{
    display: none;
}
.icons{
    position: absolute  ;
    font-size: 2.8rem;
    right: 5%;
    color:#49c5b6;
    cursor: pointer;
    display: none;
}
/*mid content*/

#home{
    background-image:  linear-gradient(rgb(0, 0, 0,0.5),rgba(0,0,0,0.5)), url(/images/wet-monstera-deliciosa-plant-leaves-garden.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.quote{
  color: #C5C6C7;
  text-align: center;
  font-style: i;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutm{
   width: 100%;
   height: 100vh;
   background-color: #0b0c10;
   display: flex;
   justify-content: center;
   align-items: center;
}
.aboutm .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
   color:#66FCF1;
   font-size: 85px;
   margin-top: 20px;
   text-transform: capitalize;
}
.text h5{
    color: white;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.text p{
     color:  #C5C6C7;
     font-size: 18px;
     letter-spacing: 1px;
     margin-bottom: 45px;
}
span{
    color: #45A29E;
}
#certs{
    height: 700px;

    background-color: burlywood;
}







/*breakpoints*/
@media (max-width:992px){

.header{
    padding: 1.3rem 5%;
}

}
@media (max-width:768px){
    .icons{
        display: inline-flex;
        
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
     
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
       opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.15s *var(--i));
    }
    
}
@media screen and (max-width:1180px){
    .aboutm{
        width: 100%;
        height: auto;
        padding: 70px 0;
        
    }
}
@media screen and (max-width:650px){
    .aboutm .content img{
        margin-bottom: 35px;

    }
    .text h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}