*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
body{
    min-height: 100vh;
    background-color: #0b0c10;
}
html{
    scroll-behavior: smooth;
}
.header{
position: fixed;
top: 1px;
left: 0px;
width: 100%;
padding: 1.3rem 10%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.header::before{
    top: 0;
    left: 0;
 content: '';
 position:absolute;
 width: 100%;
 height: 100%;
 backdrop-filter: blur(10px);
box-shadow: 0 2px 4px #49c5b6;
z-index: -1;
}
.header::after{
top: 0; 
left: 0;
 content: '';
 position:absolute;
 width: 100%;
 height: 100%;
 background: linear-gradient(90deg,transparent,rgba(82, 82, 82, 0.644),transparent);
 transition: .5s;
}
.header:hover:after{
    left: 100%;
  
}
.logo{  
    font-size: 1.3rem;
    color:#49c5b6;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 1rem;
    color: #66FCF1;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1rem;
    font-family: sans-serif;
}
#check{
    display: none;
}
.icons{
    position: absolute  ;
    font-size: 2.8rem;
    right: 5%;
    color:#49c5b6;
    cursor: pointer;
    display: none;
}
/*mid content*/

#home{
    background-image:  linear-gradient(rgb(0, 0, 0,0.5),rgba(0,0,0,0.5)), url(/images/wet-monstera-deliciosa-plant-leaves-garden.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.quote{
  color: #C5C6C7;
  text-align: center;
  font-style: i;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutm{
   width: 100%;
   height: 100vh;
   background-color: #0b0c10;
   display: flex;
   justify-content: center;
   align-items: center;
}
.aboutm .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
   color:#66FCF1;
   font-size: 85px;
   margin-top: 20px;
   text-transform: capitalize;
}
.text h5{
    color: white;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.text p{
     color:  #C5C6C7;
     font-size: 18px;
     letter-spacing: 1px;
     margin-bottom: 45px;
}
span{
    color: #45A29E;
}
.container{
    background-color: #0b0c10;
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 30px 10%;
 
}
.container .main-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: helvetica;
}
.container .main-title h1{
	position: relative;
	font-size: 40px;
	color: #66FCF1;
	margin-bottom: 30px;
	display: inline-block;
}
.container .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.container .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #45A29E;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}
.main-title p{
	color: #C5C6C7;
}
.container .row{
	width: 100%;
	display: flex;
	justify-content:space-between;
	margin-top: 50px;
   
   
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color: #49c5b6;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: #45A29E;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color:#C5C6C7;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: #808080;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color:#45A29e;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #66FCF1;
}


.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto ;
}
.timeline-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background:#2222221a;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes  movedown{
    0%{
  opacity: 1;
  transform:translateY(-30px);
    }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }

}
.text-box{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left: 0;
}
.right-container{
    left:50%;
}
.timeline-container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right:-20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px ;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left:-3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px ;
}
.left-container-arrow{
    height:0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:15px white;
    right: -15px;
}

.right-container-arrow{
    height:0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px white;
    left: -15px;
}
/*breakpoints*/
@media (max-width:992px){

.header{
    padding: 1.3rem 5%;
}

}
@media (max-width:768px){
    .icons{
        display: inline-flex;
        
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(10px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
     
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
       opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.15s *var(--i));
    }
    
}
@media screen and (max-width:1180px){
    .aboutm{
        width: 100%;
        height: auto;
        padding: 70px 0;
        
    }
}
@media screen and (max-width:650px){
    .aboutm .content img{
        margin-bottom: 35px;

    }
    .text h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}
@media(max-width: 768px){
	.container{
		padding: 30px 8%;
	}
}
@media(max-width: 568px){
	.container .row{
		flex-direction: column;
	}
	.container .main-title h1{
		font-size: 36px;
	}
	.container .row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}